$font-primary: "Lato", sans-serif;
$font-secondary: "Raleway", sans-serif;

// colors
$bg-color: #272733;
$bg-header: rgba(16, 16, 29, 0.9);
$primary-color: #3E9CDC;
$secondary-color: #3D4050;
$logo-color: #42A9ED;
$text-hover: #43ABF0;
$light-color: #FFFFFF;
$dark-color: #000000;

// sizes
$header-gap: clamp(20px, 4vw, 60px);
$forms-border-radius: 3px;